<table>
	<thead>
    <tr>
      <th>Название</th>
      <th>Создан</th>
    </tr>
  </thead>
   <tbody>
		<% @tasks.each do |task| %>
		<tr>
			<td><%= task.title %></td>
			<td><%= task.created_at %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "Добавить задание", new_task_path, class: "button small task_button" %>
