<nav>
	<ul>
		<li><%= link_to("Задания", distant_tasks_path) %></li>
		<li><%= link_to("Студенты", distant_students_path) %></li>
		<li><%= link_to("Результаты", controller: "distant/mails", action: :index) %></li>
	</ul>
</nav>