<nav>
	<ul>
		<li><%= link_to("Задания", zno_tasks_path) %></li>
		<li><%= link_to("Студенты", zno_students_path) %></li>
		<li><%= link_to("Результаты", controller: "zno/mails", action: :index) %></li>
	</ul>
</nav>