// Place all the styles related to the mails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report_form {

	width: 200px;
	margin-left: 0;
	float: right;

}

.table {
	margin-left: 200px;
}
.table table {
	margin-left: 40px;
}
.report_form form {
	width: 200px;
	margin-left: 0;
}

form input {
	width:inherit;
}


.report_table {
	width: 600px;
}