<div class="left-sidebar">
	<ul>
		<li><%= link_to("Задания", tasks_path) %></li>
		<li><%= link_to("Студенты", students_path) %></li>
		<li><%= link_to("Результаты", controller: :mails, action: :index) %></li>
	</ul>
</div>